{% extends 'template.html'%}

{% block content%}
  <div class="">
    <div class="container-fluid">
      <div class="row">
        <div class="px-md-5 p-3 d-flex flex-column justify-content-center text-center col-lg-6">
          <h1>About Us</h1>
          <p class="mb-3 lead">Sa3edni Website is about helping tawjihi students to make their journy of finding the best major to take in university easier, <br>
            or to find the best university to study in.<br>
            one more service that the user can get help from is to recalculate their GPA in tawjihi so that the user get that marks that can help him get into his future major in university.
          </p>
        </div>
        <div class="p-0 col-lg-6"> <img class="img-fluid d-block" src="static\5.jpg"></div>
    </div>
  </div>
  {% endblock %}