{% extends 'template.html'%}

{% block content %}
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="carousel slide" data-ride="carousel" id="carousel" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="mx-auto col-md-8">
                  <h2 class="">Question --------------------------------------------?</h2>
                  <!-- Group of default radios - option 1 -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios" checked="">
                    <label class="custom-control-label" for="defaultGroupExample1">Option 1</label>
                  </div>
                  <!-- Group of default radios - option 2 -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios">
                    <label class="custom-control-label" for="defaultGroupExample2">Option 2</label>
                  </div>
                  <!-- Group of default radios - option 3 -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
                    <label class="custom-control-label" for="defaultGroupExample3">Option 3</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="groupOfDefaultRadios">
                    <label class="custom-control-label" for="defaultGroupExample4">Option 4</label>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-8 mx-auto">
                  <h2 class="">Question --------------------------------------------?</h2>
                  <!-- Group of default radios - option 1 -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios" checked="">
                    <label class="custom-control-label" for="defaultGroupExample1">Option 1</label>
                  </div>
                  <!-- Group of default radios - option 2 -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios">
                    <label class="custom-control-label" for="defaultGroupExample2">Option 2</label>
                  </div>
                  <!-- Group of default radios - option 3 -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
                    <label class="custom-control-label" for="defaultGroupExample3">Option 3</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="groupOfDefaultRadios">
                    <label class="custom-control-label" for="defaultGroupExample4">Option 4</label>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-8 mx-auto">
                  <h2 class="">Question --------------------------------------------?</h2>
                  <!-- Group of default radios - option 1 -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios" checked="">
                    <label class="custom-control-label" for="defaultGroupExample1">Option 1</label>
                  </div>
                  <!-- Group of default radios - option 2 -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios">
                    <label class="custom-control-label" for="defaultGroupExample2">Option 2</label>
                  </div>
                  <!-- Group of default radios - option 3 -->
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
                    <label class="custom-control-label" for="defaultGroupExample3">Option 3</label>
                  </div>
                  <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultGroupExample4" name="groupOfDefaultRadios">
                    <label class="custom-control-label" for="defaultGroupExample4">Option 4</label>
                  </div>
                </div>
              </div>
            </div> <a class="carousel-control-prev bg-primary" href="#carousel" role="button" data-slide="prev"> <span class="carousel-control-prev-icon text-dark"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next bg-primary" href="#carousel" role="button" data-slide="next"> <span class="carousel-control-next-icon"></span> <span class="sr-only">Next</span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><a class="btn btn-primary" href="#">Search for a major</a></div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><b>Major Name:&nbsp;</b></h5>
              <h4 class="">Name..........</h4>
              <h5 class="card-title"><b>Major Description:&nbsp;</b></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}