{% extends 'template.html'%}

{% block content %}

  <form class="container" method = "POST" action="/mselection">
      {% csrf_token %}
      <h3>Please answer all of the questions so we can help you choose the best major for you.</h3><br>
      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">How would you rate yourself at Math ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Math" id = "optionsRadios1" value = "1" checked>
            Poor
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Math" id = "optionsRadios2" value = "2">
               Not Bad
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Math" id = "optionsRadios3" value = "3">
               Good
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Math" id = "optionsRadios4" value = "4">
               Very Good
         </label>
      </div>
      </div>
     <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">How would you rate yourself at Biology ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Biology" id = "optionsRadios1" value = "1" checked>
            Poor
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Biology" id = "optionsRadios2" value = "2">
               Not Bad
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Biology" id = "optionsRadios3" value = "3">
               Good
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Biology" id = "optionsRadios4" value = "4">
               Very Good
         </label>
      </div>
      </div>

      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">How would you rate yourself at Physics ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Physics" id = "optionsRadios1" value = "1" checked>
            Poor
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Physics" id = "optionsRadios2" value = "2">
               Not Bad
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Physics" id = "optionsRadios3" value = "3">
               Good
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Physics" id = "optionsRadios4" value = "4">
               Very Good
         </label>
      </div>
      </div>


      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">How would you rate yourself at Computer Skills?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Computer" id = "optionsRadios1" value = "1" checked>
            Poor
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Computer" id = "optionsRadios2" value = "2">
               Not Bad
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Computer" id = "optionsRadios3" value = "3">
               Good
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Computer" id = "optionsRadios4" value = "4">
               Very Good
         </label>
      </div>
      </div>


      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Do you concider yourself interested in Technology career field ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "ComputerIntrest" id = "optionsRadios1" value = "1" checked>
            Yes
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "ComputerIntrest" id = "optionsRadios2" value = "0">
            No
         </label>
      </div>
      </div>



      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Do you think you will be able to have your own company in the future ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "EntrepreneurshipIntrest" id = "optionsRadios1" value = "1" checked>
            Yes
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "EntrepreneurshipIntrest" id = "optionsRadios2" value = "0">
            No
         </label>
      </div>
      </div>

      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Do you like to interact with customers ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "CustomerInteraction" id = "optionsRadios1" value = "1" checked>
            Yes
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "CustomerInteraction" id = "optionsRadios2" value = "0">
            No
         </label>
      </div>
      </div>

      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Do you have any musical talents ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "MusicIntrest" id = "optionsRadios1" value = "1" checked>
            Yes
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "MusicIntrest" id = "optionsRadios2" value = "0">
            No
         </label>
      </div>
      </div>

      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Do you have painting talent ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "PaintingIntrest" id = "optionsRadios1" value = "1" checked>
            Yes
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "PaintingIntrest" id = "optionsRadios2" value = "0">
            No
         </label>
      </div>
      </div>

      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Do you concider yourself accurate while doing the tasks you are given ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Accurate" id = "optionsRadios1" value = "1" checked>
            Yes
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Accurate" id = "optionsRadios2" value = "0">
            No
         </label>
      </div>
      </div>



      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Do you have any intrests in building things and designing them ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "BuildingIntrest" id = "optionsRadios1" value = "1" checked>
            Yes
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "BuildingIntrest" id = "optionsRadios2" value = "0">
            No
         </label>
      </div>
      </div>

      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Do you think you could be resposible to take care of others health ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "HealthCare" id = "optionsRadios1" value = "1" checked>
            Yes
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "HealthCare" id = "optionsRadios2" value = "0">
            No
         </label>
      </div>
      </div>

      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Do you love doing reaserch ?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "ResearchIntrest" id = "optionsRadios1" value = "1" checked>
            Yes
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "ResearchIntrest" id = "optionsRadios2" value = "0">
            No
         </label>
      </div>
      </div>

      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">What is your Tawjihi Stream?</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Stream" id = "optionsRadios1" value = "1" checked>
            Scientefic
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "Stream" id = "optionsRadios2" value = "0">
            Literature
         </label>
      </div>
      </div>

     <input type="submit" class="btn btn-primary mt-1" style="text-align: center;" value="Find">
      </form>

    {% if results %}

          <div class = "container">
            <h3>
                According to our expert system:<br>
                Your are likely to succeed in a <em><strong>{{prediction}}</strong></em> feild find below some suggested majors according to your answers:<br>
            </h3>

                {% for major in majors %}
                    <h5 style="border-bottom: 2px solid black;">
                    {{major}} <br>
                    <!--{{major.university.uniName}}-->
                    </h5>
                {% endfor %}

          </div>
    {% endif %}



{% endblock %}