{% extends "template.html" %}
{% block content %}

  <div class="py-3">
    <div class="container">
      <div class="row">
        
        <div class="col-md-4">
          <h2 class="">Name:</h2>
          <h4 class="" style="">{{user.fName}} {{user.lName}}</h4>
          <h2 class="">Email:</h2>
          <h4 class="">{{user.email}}</h4>
          <button onclick="document.getElementById('form2').style.display = 'none';document.getElementById('form1').style.display = 'block';" class="btn btn-primary">Edit Profile </button>
          <button onclick="document.getElementById('form1').style.display = 'none';document.getElementById('form2').style.display = 'block';" class="btn btn-primary">Edit Password </button>
          <p style="color: red;"> {{error}} </p>
          <p style="color: green;"> {{success}} </p>

        </div>
        <div class="col-md-4" id="form1" style="display:none">
          <form id="c_form-h" class="" method="POST" action="/profile">
            {% csrf_token %}
            <div class="form-group row">
              <div class="col-10">
                <input type="text" class="form-control" id="inputmailh" placeholder="First Name......" required="required" name = "fName"> </div>
            </div>
            <div class="form-group row">
              <div class="col-10">
                <input type="text" class="form-control" id="inputmailh" placeholder="Last Name......" required="required" name="lName"> </div>
            </div>
            <input type="submit" class="btn btn-primary" contenteditable="true" value="Confirm">
          </form>
        </div>
        <div class="col-md-4" style="display:none" id="form2">
          <form id="c_form-h" method="POST" action="/resetpass">
            {% csrf_token %}
            <div class="form-group row">
              <div class="col-10">
                <input type="password" class="form-control" id="inputmailh" placeholder="Enter old password" name="oldPass"> </div>
            </div>
            <div class="form-group row">
              <div class="col-10">
                <input type="password" class="form-control" id="inputpasswordh" placeholder="Enter new password" name="newPass"> </div>
            </div>
            <div class="form-group row">
              <div class="col-10">
                <input type="password" class="form-control" id="inputpasswordh" placeholder="Enter new password again" name="newPass2"> </div>
            </div>
            <button type="submit" class="btn btn-primary">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>

{% endblock %}