{% extends 'template.html'%}

{% block content %}

  <div class="py-5">
    <div class="container">
      <div class="col-md-12">
          <h1 class="display-4" >Major selection</h1>
        </div>
      <div class="row">
        <form class="container">
      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Question here</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q1" id = "optionsRadios1" value = "option1" checked>
            Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q1" id = "optionsRadios2" value = "option2">
               Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q1" id = "optionsRadios3" value = "option3">
               Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q1" id = "optionsRadios4" value = "option4">
               Answer
         </label>
      </div>
      </div>
      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Question here</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q2" id = "optionsRadios1" value = "option1" checked>
            Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q2" id = "optionsRadios2" value = "option2">
               Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q2" id = "optionsRadios3" value = "option3">
               Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q2" id = "optionsRadios4" value = "option4">
               Answer
         </label>
      </div>
      </div>

      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Question here</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q3" id = "optionsRadios1" value = "option1" checked>
            Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q3" id = "optionsRadios2" value = "option2">
               Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q3" id = "optionsRadios3" value = "option3">
               Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q3" id = "optionsRadios4" value = "option4">
               Answer
         </label>
      </div>
      </div>
      <div class="container" style="border-bottom: 5px solid rgb(0, 58, 106)">
         <label for = "name">Question here</label>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q4" id = "optionsRadios1" value = "option1" checked>
            Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q4" id = "optionsRadios2" value = "option2">
               Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q4" id = "optionsRadios3" value = "option3">
               Answer
         </label>
      </div>
      <div class = "radio">
         <label>
            <input type = "radio" name = "q4" id = "optionsRadios4" value = "option4">
               Answer
         </label>
      </div>
      </div>
      <a class="btn btn-primary mt-1" style="text-align: center;" href="#">Next</a>
      </form>
      </div>
    </div>
  </div>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><b>Major Name:&nbsp;</b></h5>
              <h4 class="">Name..........</h4>
              <h5 class="card-title"><b>Major Description:&nbsp;</b></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}