{% extends 'template.html' %}

{% block content%}


<div class="" style="	background-image: url(/static/images/background.jpg);	background-position: left center;	background-size: cover;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="p-5 col-lg-6">
          <h1>Sign Up</h1>
          <form action="/signup" method="POST">
            <div class="form-group"> <input type="text" class="form-control" placeholder="First Name" id="form11" name = "fName"> </div>
            <div class="form-group"> <input type="text" class="form-control" placeholder="Last Name" id="form11" name= "lName"> </div>
            <div class="form-group"> <input type="email" class="form-control" placeholder="Enter email" id="form11" name="email"> </div>
            <div class="form-group"> <input type="password" class="form-control" placeholder="Password" id="form12" name="password"> <small class="form-text text-muted text-right"></small></div>
            <div class="form-group"> <input type="password" class="form-control" placeholder="Confirm Password" id="form12" name="password2"><br>
              <div class="form-group"><label contenteditable="true">Choose Tawjihi Stream</label>
                <select name="stream" id="stream">
                    {% for stream in streams %}
                     <option value="{{stream}}">{{stream}}</option>
                  {% endfor %}
                              </select>
                </div> <small class="form-text text-muted text-right"></small>
            </div> 
            <p style="color:red" > {{error}} </p>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}